/** FOOTER */
.footer-space {
  background-color: none;
  height: 20rem;
  height: 20rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer {
  background-color: #171717;
  z-index: 10;
  width: 100%;
  position: static;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

footer i {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

footer .col2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

hr {
  border: solid #444 0.5px;
  width: 100%;
}

.address {
  display: grid;
  grid-template-rows: repeat(3, auto);
  text-align: center;
  margin-bottom: 2rem;
}

.address small {
  display: block;
  margin: 1em 0 0 0;
}

#copyright {
  display: block;
  margin: 1em 0;
  text-align: center;
}

.social-media {
  background: #444;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  margin: 0.2rem;
}

.social-media>i {
  position: relative;
  top: calc(25%);
}

.social-media:hover,
.social-media:active {
  background-color: #777;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
