/** TOP NAVIGATION */
#topnav {
  z-index: 50;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 1.2rem;
  transition: all 1s ease-in;
}

#topnav a {
  display: grid;
  justify-content: center;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 920px) {
  #topnav {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 60;
  }

  .dropdown:hover #topnav {
    display: block;
    background-color: #fff;
  }

  #topnav a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #444;
  }

  #topnav a:hover {
    background-color: #f7f7f7;
  }

  .dropbtn {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    top: 9px;
    right: 15px;
    color: white;
    z-index: 60;
  }

  .dropbtn i {
    position: relative;
    display: inline-block;
  }

  .dropdown:hover .dropbtn i {
    color: #bbb;
  }
}

@media screen and (min-width: 920px) {
  #topnav {
    padding: 1rem 1rem 1rem 0;
  }

  #topnav.scrolling {
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in;
  }

  #topnav.scrolling a {
    color: #444;
  }

  #topnav a {
    display: inline;
    padding: 0 2rem 0 2rem;
    color: #fff;
  }

  .dropbtn {
    display: none;
  }
}

/** BANNER */
header {
  background-color: #fff;
  z-index: 20;
  position: relative;
}

header h1 {
  font-family: 'Glegoo', serif;
  color: #fff;
  text-align: center;
  margin: 1rem 2rem;
}

header p {
  margin-top: 0;
}

.div_banner {
  background: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 75% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 75% 100%, 0 90%);
  display: grid;
  justify-content: center;
  grid-template-rows: 100vh;
}

.div_frame {
  border: 0.5px solid #fff;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, auto);
  margin-top: 40%;
  margin-bottom: 40%;
}

.profile-picture {
  background: url(../images/profile-picture.png);
  background-size: cover;
  margin: auto;
  height: 12rem;
  width: 12rem;
}
