html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

p, a, h1, h2, h3, h4, h5, h6, li, small {
  font-family: 'Nunito', sans-serif;
  color: #444;
}

p, h5, h6 {
  font-size: 1rem;
  margin: 1rem;
}

small {
  color: #fff;
}

i {
  font-size: 2rem;
  color: #ccc;
}

.col1, .col2, .col3, .col4, .col5 {
  display: table;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.col1>p {
  text-align: center;
}

.row2 {
  text-align: center;
  padding-bottom: 2rem;
}

.row5 {
  display: grid;
  display: -ms-grid;
  grid-template-rows: repeat(5, auto);
  -ms-grid-rows: repeat(5, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 100%;
  display: grid;
  display: -ms-grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 3rem 2fr;
  -ms-grid-columns: 3rem 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.headline h3 {
  color: #444;
  font-family: 'Glegoo', serif;
}

.div_none, .div_white, .div_grey {
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 20;
  position: relative;
}

.div_none {
  background-color: none;
  background: rgba(0, 0, 0, 0.5);
}

.div_none h3, .div_none h5 {
  color: #fff;
}

.div_white {
  background-color: #fff;
}

.div_grey {
  background-color: #f7f7f7;
}

/** EDUCATION & WORK EXPERIENCE */
.date {
  font-size: 14px;
  font-family: 'Poiret One', cursive;
  color: #ff0055;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.content-box {
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  background-color: #fff;
  overflow: hidden;
}

.content-box:hover,
.content-box:active {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.box-size {
  max-height: 14em;
}

.default-content {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
}

.default-content.hidden {
  -webkit-transform: translateY(-300px);
      -ms-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
  opacity: 0;
}

.show-description div {
  height: 150px;
}

.show-description .description-box {
  opacity: 1;
}

.description-box {
  opacity: 0;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
}


.description-box.visible {
  opacity: 1;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
}

.fa-angle-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5%;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.content-box:hover .fa-angle-down,
.content-box:active .fa-angle-down {
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

/** LANGUAGES */
#progress-circles {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, auto);
  -ms-grid-columns: repeat(3, auto);
}

@media only screen and (max-width: 670px) {
  #progress-circles {
    display: block;
    width: 300px;
  }
}

@media only screen and (min-width: 920px) {
  #language-animation {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, auto);
    -ms-grid-columns: repeat(3, auto);
  }
}

.circular-chart {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 250px;
}

.bg-circle {
  fill: #f7f7f7;
  stroke: #ddd;
  stroke-width: 1;
}

.circle {
  fill: none;
  stroke-width: 1;
}

.circle.animate {
  stroke: #ff0055;
  -webkit-animation: progress 1.5s ease-out forwards;
          animation: progress 1.5s ease-out forwards;
}

text {
  font: normal 0.2rem 'Poiret One', cursive;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/** SKILLS */
#background {
  background-image: url(../images/snow_forest.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
}

.skill {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, auto);
  -ms-grid-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill h5 {
  width: 12rem;
  text-align: right;
  margin-right: 1rem;
}

.skill_bar {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(5, auto);
  -ms-grid-columns: repeat(5, auto);
}

.skill_circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  margin: 0.2rem;
}

.filled {
  background: #ff0055;
}

.empty {
  background: #f7f7f7;
}

/** INTERESTS */
.div-img-outer {
  width: 12rem;
  height: 12rem;
  margin: 25px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#interest_1, #interest_2, #interest_3 {
  display: grid;
  display: -ms-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}

#interest_1 {
  background-image: url(../images/hiking.png);
}

#interest_2 {
  background-image: url(../images/snowboarding.png);
}

#interest_3 {
  background-image: url(../images/biking.png);
}

#interest_1:hover, #interest_2:hover, #interest_3:hover,
#interest_1:active, #interest_2:active, #interest_3:active {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

@media only screen and (min-width: 920px) {
  .col2 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(2, auto);
    -ms-grid-columns: repeat(2, auto);
  }

  .col3 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, auto);
    -ms-grid-columns: repeat(3, auto);
    grid-gap: 4rem;
    -ms-grid-gap: 4rem;
  }

  .col3>div {
    display: table-cell;
  }

  .col4 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(4, auto);
    -ms-grid-columns: repeat(4, auto);
  }

  .col5 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(5, auto);
    -ms-grid-columns: repeat(5, auto);
  }

  .col6 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(6, auto);
    -ms-grid-columns: repeat(6, auto);
  }

  .box-size {
    max-height: 18em;
  }

  .circle.animate {
    stroke: #ff0055;
    -webkit-animation: progress 3s ease-out forwards;
            animation: progress 3s ease-out forwards;
  }


}
